body {
    margin: auto 0;
    background: url("../img/bg.jpg"); 
}

header {
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

#logo {
    width: 60%;
    height: 35%;
}

#ul > li {
    display: inline-block;
    list-style: none;
    font-family: Consolas;
    font-size: 18px;
    padding: 1%;
    font-weight: bold;
}